include MANIFEST.in
include setup.cfg
include setup.py
include pyproject.toml
include README.md
include LICENSE
include create_docs.sh
include requirements.txt
recursive-include docs *
recursive-include src *
recursive-include tests *
global-exclude */__pycache__/*
global-exclude *.pyc
exclude src/grib2io_interp/__config__.py
